  .heading
  {
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .copy_right_footer{
    position: fixed ;
    color: firebrick ;
    background-color: gold;
    width: 100% ;
    line-height: 3;
    box-shadow:5px 5px 5px darkcyan ;
    bottom: 0 ;
    text-align: center;
  }
  .para_tag_span{
    white-space: pre-line;
  }
canvas{
  border: 5px solid white;
  border-radius: 10px;
  box-shadow:5px 5px 5px khaki ;
  margin-top: 130px;
}